@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300;400&family=Open+Sans:wght@300&family=Oswald:wght@300&family=PT+Sans&family=Poppins:wght@300;400&family=Raleway:wght@300;400&family=Roboto:wght@300;400&family=Slabo+13px&family=Slabo+27px&family=Source+Sans+Pro:wght@600;700&family=Ubuntu:ital,wght@1,300&family=Varela+Round&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;

}
html{
    font-size: 62.5%;
}
body{
    background-color: aliceblue;
}
/* ######## style resets ########### */
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    margin-inline: 60px;
}
ul{
    list-style: none;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1rem;
}

/* utility classes*/
.flex{
    display: flex;
}
.primary-button{
    background-color: #270ae4;
    color: white;
    border-radius: 2rem;
    margin: .5rem;
}
.primary-button:hover{
    background-color: #0f0260;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color:  #0087ca;
   
  }
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*######### NavBar ###########*/
nav{
    margin-top: 20px;
}
.nav-bar{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.nav-bar a{
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

/*####### Main Section ###########*/
main{
    margin-top: 20px;
}
.home{
    /* justify-content: space-between; */
    align-items: center;
    gap: 100px;
}
.home img{
    border-radius: 4rem;
    height: 420px;
}

/*################ About Me ##############*/
.about-me{
    margin-top: 30px;
    flex-direction: column;
}
.about-me .hover-underline-animation{
    text-align: center;
    
}
